*~
*.swp
*.swo
*.xml
.swecpwd
lizztcmsUpgrade.log
lizztcms.yml
sql/lizztcms_livedummy.sql
sql/resetdb
sql/massReassign
nytprof*
scheduler.state
db-upgrade.log
lizztcms-dbupgrade-dump*.sql
packages/
root/livedata
lib/LizztCMS/Controller/SiteHacks.pm
lib/LizztCMS/Controller/SiteHacks/
.lizztctl.data
.pluginMeta
.packageMeta
.lizztctl*.tmp
root/source-js/handlebartemplates

# LizztCMS packages
*.lpk
# Built JS files
root/js
# Built CSS
root/css/lizztcms.css
# Built MO files
i18n/locale
i18n/messages.mo
.vagrant
